<div class="container-fluid bg-secondary text-white pt-5">
    <!-- Top Section: Links -->
    <div class="row p-4 mt-5">
      <div class="col-md-4 text-center mb-3 px-5">
        <h5>Sobre Nosotros</h5>
        <p class="small">
          Somos un equipo dedicado a proporcionar el mejor soporte académico para estudiantes universitarios. 
          Nuestro objetivo es tu éxito.
        </p>
      </div>
      <div class="col-md-4 text-center mb-3">
        <h5>Enlaces Útiles</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Inicio</a></li>
          <li><a href="#" class="text-white text-decoration-none">Servicios</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contacto</a></li>
          <li><a href="#" class="text-white text-decoration-none">FAQs</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center mb-3">
        <h5>Contáctanos</h5>
        <p class="small">
          <mat-icon class="text-warning">email</mat-icon> {{'soporte@clasesuniversitarias.com'}}
        </p>
        <p class="small">
          <mat-icon class="text-warning">phone</mat-icon> +51 987 654 321
        </p>
        <p class="small">
          <mat-icon class="text-warning">location_on</mat-icon> Trujillo, Perú
        </p>
      </div>
    </div>
  
    <!-- Divider -->
    <div class="row">
      <div class="col-12">
        <hr class="bg-white opacity-50" />
      </div>
    </div>
  
    <!-- Bottom Section: Social Media & Copyright -->
    <div class="row text-center py-3">
      
      <div class="col-md-12 my-4">
        <a href="#" class="text-white mx-2"><mat-icon>facebook</mat-icon></a>
        <a href="#" class="text-white mx-2"><mat-icon>instagram</mat-icon></a>
        <a href="#" class="text-white mx-2"><mat-icon>twitter</mat-icon></a>
        <a href="#" class="text-white mx-2"><mat-icon>linkedin</mat-icon></a>
      </div>
      <div class="col-md-12 mb-3">
        <p class="mb-0">© 2024 Todos los derechos reservados</p>
      </div>
    </div>
</div>
  