<div class="container p-4">
    <div class="row">
        <div class="col-12 my-3 text-center">
            <label class="fs-3 fw-bold">Curso</label>
        </div>
        <div class="col-12 text-start">
            <label class="mt-3 fs-5 d-block">Nivel: {{dataCurso.nivel}}</label>
            <label class="mt-1 mb-3 fs-5 d-block">{{dataCurso.nombre}}</label>
        </div>

        <div class="col-12 text-start">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <label class="fs-4 d-block">Lista de Horarios</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

