<div class="container-fluid m-0 p-0 bg-secondary vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100 justify-content-center">
        <div class="col-8 col-md-6 col-lg-4 col-xl-3">
            <mat-card class="rounded shadow-sm m-1">
                <mat-card-content class="container-fluid">
                    <div class="row">
                        <div class="col-12 text-center">
                            <label class="fs-2 my-4 fw-bold">Actualizar datos</label>
                        </div>
                        <div class="col-12">
                            <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
                                <!-- Nombre -->
                                <div class="col-12 mb-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput formControlName="nombre" placeholder="Mariel Torres" type="text">
                                    </mat-form-field>
                                </div>
                                <!-- Email -->
                                <div class="col-12 mb-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" type="email" placeholder="Marilu2020@hotmail.com">
                                    </mat-form-field>
                                </div>
                                <!-- Contraseña -->
                                <div class="col-12 mb-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput formControlName="password" type="password" placeholder="••••••••">
                                    </mat-form-field>
                                </div>
                                <!-- Fecha de Nacimiento -->
                                <div class="col-12 mb-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Fecha de Nacimiento</mat-label>
                                        <input matInput formControlName="fecha_nacimiento" type="date">
                                    </mat-form-field>
                                </div>
                                <!-- Foto de Perfil -->
                                <div class="col-12 mb-3">                                    
                                    <label class="fs-5 d-block mt-3">Foto Perfil</label>
                                    <input formControlName="fotoPerfil" type="file" accept="image/*" class="mb-5">
                                </div>
                                <!-- Preferencias -->
                                <div class="col-12 mb-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Preferencias</mat-label>
                                        <textarea matInput formControlName="preferencias" placeholder="Preferencias A"></textarea>
                                    </mat-form-field>
                                </div>
                                <!-- Fondo Oscuro -->
                                <div class="col-12 text-center mb-3">
                                    <mat-slide-toggle formControlName="fondoOscuro">Fondo Oscuro</mat-slide-toggle>
                                </div>
                                <!-- Botón Guardar Cambios -->
                                <div class="col-12 text-center">
                                    <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
